__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
env/
ENV/
.venv/
.ENV/

.env

.vscode/

.DS_Store
Thumbs.db

*.spec
dist/
build/

# Logs
*.log

node_modules/
package-lock.json
yarn.lock

# uploads/
uploads/